/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

nav.bg-light {
    background-color: #f8f9fa00 !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(0, 0, 0, 1);
    padding: 0px 24px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #000 !important;
}
p{
    font-family: 'IBM Plex Sans', sans-serif;
}

body>main>section>div>h1:nth-child(1)>span {
    text-decoration: line-through;
}

p {
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
iframe{
    border: 0;
}
a.principal {
    width: 30%;
    height: 50px;
    padding: 10px 50px;
    background: #00F3BB;
    border: none;
    color: black;  
    font-weight: bold;  
}
a.principal:hover {
    color: #0000A3;
    text-decoration-line: none;
}

section.section-1{
    padding: 4% 10%;
}
section.section-1 p{
    width: 60%;
}
section.section-2, section.section-3,section.section-6{
    position: relative;
}
section.section-2 div.mask{
    position: absolute;
    background-image: linear-gradient(90deg, #0000FF 0%, #0000A3 100%);
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
}
section.section-2 div.row div{
    padding-bottom: 11px;
}
section.section-2 h1{
    color: white;
}
section.section-2 iframe {
    width: 100%;
}
section.section-3 div.mask{
    position: absolute;
    background-image: linear-gradient(90deg, #0000FF 0%, #0000A3 100%);
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 0 8%);
    z-index: 0;
}
section.section-4 {
    width: 98.5%;
}
section.section-4 div.row div{
    padding: 0 !important;
}
section.section-5 div.row div{
    margin: 0 25px;
    padding: 20px 30px !important;
}
section.section-6 h1{
    color: white;
}
section.section-6 div.mask{
    position: absolute;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
}
footer{
    padding: 20px 0px;
}
footer img{
    margin: 0px 10px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    footer i{
        margin: 0px 18px;
        color: #060A24;
    }
/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767.98px) {
    section.section-1 {
        padding: 30px 16px;
    }
    .navbar-collapse {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        color: white;
    }
    .navbar-light .navbar-nav .active>.nav-link {
        color: white;
        padding: 12px 16px;
    }
    p {
        padding: 10px 0px;
    }
    button.principal {
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #00F3BB;
        border: none;
        transition: 0.9s;
    }

    section.section-1 p{
        width: 100%;
    }
    footer div.col-md-6{
        text-align: center !important;
    }
}


/* Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {}


/* Large devices (desktops, less than 1200px)*/

@media (max-width: 1199.98px) {}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " ("attr(href) ")";
    }
    abbr[title]::after {
        content: " ("attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}